/* index.css */

.addTask-input {
    height: 40px;
    width: 100%;
    max-width: 300px;
    padding: 0 12px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    color: #333;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .addTask-input:focus {
    border-color: #ea00ff;
    box-shadow: 0 0 5px rgba(242, 0, 255, 0.5);
  }
  
  form {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 24px;
    width: 100%;
  }

  .addTask-cont {
    display: flex;
    flex-direction: row;
  }
  
  .add-btn {
    background-color: #ae00ff;
    color: white;
    padding: 10px 16px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    width: 150px;
  }

  
  button:hover {
    background-color: #3cff00;
  }

  /* index.css */

/* Style for the icon */
.icon {
    font-size: 24px; /* Increase the size */
    font-weight: bold; /* Make it bold (optional depending on the effect you want) */
    margin-right: 8px; /* Add some spacing between icon and text */
    color: white; /* Ensure the icon matches the button color */
    transition: transform 0.3s ease;
  }
  
  .icon:hover {
    transform: scale(1.2); /* Slight zoom-in effect on hover */
  }
  
  
  button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
  }
  
  @media (max-width: 480px) {
    .addTask-input {
      width: 100%;
    }
  
    button {
      width: 100%;
      padding: 12px 0;
    }
  }
  